################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TaskProject/bin/Debug/netcoreapp3.1/runtimes/unix/lib/netcoreapp3.1
*.v2
/TaskProject/bin/Debug/netcoreapp3.1
/.vs/TaskProject/v16/TestStore/0
/TaskProject/obj/
*.suo
/TaskProject/obj/Debug/netcoreapp3.1/
*.dll
/TestProject/obj/Debug/netcoreapp3.1
/TestProject/obj
/TestProject/bin/Debug/netcoreapp3.1
/TaskProject/bin/Debug/net8.0
/TestProject/bin/Debug/net8.0
/.vs
/.vs/TaskProject/config/applicationhost.config
/RabbitMqReceive/Receive/.vs
/RabbitMqReceive/Receive/Receive/bin/Debug/net8.0
/RabbitMqReceive/Receive/Receive/obj
/RabbitMqSend/Send/.vs
/RabbitMqSend/Send/Send/bin/Debug/net8.0
/RabbitMqSend/Send/Send/obj
